<!DOCTYPE html>
<html>
  <head>
    <title>Objective</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
<%if(!user_signed_in?)%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">   
    <ul class="nav navbar-nav">
    <a class="navbar-brand" href="/#"><img width = "50px" height = "50px" src="assets/objective.png"></a>
    <li class="nav-item active">
    <a class="nav-link" href="/#">Home</a>  
    </li>
    <li class="nav-item"><a class="nav-link" href="/#">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/users/sign_up">Sign Up</a> </li>
    <li class="nav-item"><a class="nav-link" href="/users/sign_in">Sign In</a> </li>
    </ul>
    </div>
</nav>      
   
<%else%>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">   
    <ul class="nav navbar-nav">
    <a class="navbar-brand" href="/#"><img width = "50px" height = "50px" src="assets/objective.png"></a>
    <li class="nav-item active">
    <a class="nav-link" href="/#">Home</a>  
    </li>
    <li class="nav-item"><a class="nav-link" href="/#">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/users/sign_up">Start a Journey</a> </li>
    <li class="nav-item"><a class="nav-link" href="/users/sign_in">Manage Your Journeys</a> </li>
    </ul>
    </div>
</nav>    
<%end%>      
      
      
      
    <%= yield %>
      
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" %>
	<script type="text/javascript">
		new WOW().init()
	</script>
      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
  </body>
</html>
